body {
    background-color: black;
    font-family: "Fredoka", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Haut {
    background: linear-gradient(135deg, rgb(120, 114, 233), rgb(84, 41, 177));
    width: 80%;
    max-width: 30em;
    height: 4rem;
    position: relative;
    top: -65px;
    border-radius: 20px;
    animation: fadeIn 1s ease-in;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Titre {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -2rem;
}

.Introduction {
    background-color: rgb(50, 140, 143);
    width: 80%;
    max-width: 30em;
    height: auto;
    padding: 20px;
    border-radius: 30px;
    border: solid rgba(27, 135, 29, 0.743);
    position: relative;
    bottom: -70px;
    animation: fadeIn 1.5s ease-in;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.LaisseMoi {
    font-size: 5rem;
    margin: 0 0 20px 0;
    text-align: center;
    animation: fadeIn 2s ease-in;
}

.Intro {
    font-size: 3rem;
    margin: 20px 0;
    text-align: center;
    animation: fadeIn 2.5s ease-in;
}

.BoutonPageProfil {
    background-color: rgb(84, 41, 177);
    border-radius: 30px;
    width: 80%;
    max-width: 20rem;
    height: 3rem;
    cursor: pointer;
    border-style: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin: 20px auto;
}

.BoutonPageProfil:hover {
    background-color: rgb(29, 9, 82);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.TextButton {
    color: white;
    font-family: "Fredoka", sans-serif;
    font-size: 30px;
    line-height: 3rem;
}

@media (max-width: 600px) {
    .Haut, .Introduction {
        width: 90%;
        left: 0;
    }

    .Titre, .LaisseMoi, .Intro, .TextButton {
        font-size: 2rem;
    }

    .BoutonPageProfil {
        width: 90%;
    }
}
